doctype html
html(lang="en")
	head
		title= title
		meta(name='viewport' content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
	body
		div(id='react-root')

	script(type='text/javascript' src= vendorJsBundleUri)
	script(type='text/javascript' src= jsBundleUri)
